.text_about_me{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 180px;
    margin-right: 180px;
    text-align: left;
    color:var(--color_darkblue);
}
.text_about_me h1{
    color: var(--color_primary);
    font-size: 30px;
}

.about{
    display: flex;
    justify-content: space-between;
    background-color: var(--color_back);
    border-bottom: 1px solid var(--color_primary);
   
}

.align_work, .align_school{
    width: 50%;
   

   
}
.work h2 , .school h2{
    font-size: 30px;
    color: var(--color_primary);
    
}

.work{
    margin-left: 180px;
    margin-top: 80px;
    margin-bottom: 80px;
    color:var(--color_darkblue);
}

.occupation{
    margin-right: 365px;
    margin-top: 195px;
    color: var(--color_darkgray);

}

.school{
    margin-left: 180px;
    margin-top: 80px;
    margin-bottom: 80px;
    color:var(--color_darkblue);
    
}

.institution{
    margin-right: 200px;
    margin-top: 160px;
    color: var(--color_darkgray);
}

















