.button{
    align-items: center;;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:var(--color_primary);
    border: none;
    color:var(--color_white);
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    border-style: none;
    
}
button:hover{
    background-color:var(--color_blue);
    color: var(--color_white);

}

i {
    width: 30px;
    color:var(--color_primary);
}

i:hover{
    transition: 0.5s;
        font-size: 70px;
        transform: rotate(10deg);
        -webkit-transform:rotate(10deg);
        -ms-transform:rotate(10deg);
}


