
header{
  display: flex;
  align-items: center;
  position: fixed;
  height: 90px;
  font-size: 18px;
  background-color: var(--color_white);
  box-shadow: 0 2px 1em var(--color_gray);
  top: 0;
  left: 0;
  right: 0;
}

.itens_menu{
  display: inline-block;
  padding: 0 25px 0;
  text-decoration: none;
  border-right: 2px solid var(--color_blue); 
  color: var(--color_primary);
  

}

.itens_menu:hover{
  color: var(--color_blue);
}





.img_logo{
  margin-left: 160px; 
  width: 130px;
  height: 60px;
  margin-bottom: 10px;
  margin-right: 400px;

  
}

